@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,500&display=swap');

*{
    margin:0;
    padding: 0;;
}

.header{
    min-height: 100vh;
    min-width: 100%;
    background: #181818;
    background-position: center;
    background-size: cover;
}

nav{
    padding: 2% 2%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

nav img{
    width: 350px;
    align-items: center;
}

.ther ul li{

    
    display: inline-flex;
    justify-content: flex-end;
    gap: 30px;

    padding-right: 30px;
    position: relative;
    transform: translate(0%,-12.5%);

}

.ther ul li a{
    color: #F2F2F2;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    transition: 0.2 s;
    cursor: pointer;
}

.ther ul li a:hover{
    border:5px #4284a2 solid;
    background-color: #4284a2;
    padding: 5px 5px;
    border-radius: 30px;
    position: relative;
}

.note{
    position: absolute;
    width: 60%;
    color: #F2F2F2;
    background: #4284a2;
    top:50%;
    left: 50%;
    font-family: 'Kanit',sans-serif;
    transform: translate(-50%,-35%);
    text-align: center;
    border: 3px #5CB8E4 solid;
    border-radius: 10px;
    cursor: pointer;   
}

.note h1{
    font-size: 50px;
    padding-top: 5%;
    
}

.note p{
    font-size: 20px;
    padding: 10% 10% 10% 10% ;
}


